  
  php70: 
    build:
      context: ./
      dockerfile: ./etc/img/php70.Dockerfile
    volumes:
      - ${CACHEGRINDDIR}:/cachegrind:rw
      - ${SITESDIR}:/sites:rw
      - ${MYSQLSOCK}:/mysql.sock:rw
      - ${SSH_AUTH_SOCK}:/tmp/ssh_auth.sock:rw
      - ./var/cli-tools:/cli-tools:ro
    expose:
      - "9000"
    environment:
      - SSH_AUTH_SOCK=/tmp/ssh_auth.sock