   

    ports:
      - ${WEBPORT}:80

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx-proxy-le
    volumes:
      - ${DOCKER_HOST_SOCK}:/var/run/docker.sock:ro
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:rw
    network_mode: bridge
    environment: 
        NGINX_PROXY_CONTAINER: engine_web_1
        NGINX_DOCKER_GEN_CONTAINER: engine_web_1