
  web:
#    build:
#      context: ./
#      dockerfile: ./etc/img/nginx.Dockerfile
    image: jwilder/nginx-proxy
    volumes:
      - ${SITESDIR}:/sites:rw
      - ${DOCKER_HOST_SOCK}:/tmp/docker.sock:ro
      - ./nginx.conf:/etc/nginx/conf.d/superterran-engine.conf
    ports:
      - ${WEBPORT}:80